@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

body{

  font-family: 'Open Sans', sans-serif;
}
.container-fluid{
  background: #FFF;
  margin-top: 34px;
}
#navbarSupportedContent{
  margin-right: 220px;
}
.navbar {
  background-color: transparent !important;
}
.navbar-brand{
  margin-left: 224px;
  color: #3A3A3A;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-item{
  color: #3A3A3A;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-inline: 12px;
}
.icon{
  margin-top: 11px;
}
.icon,.fa-solid {
  margin-inline: 12px;
}




/* <!-- start your section start --> */
.section_class{
  display: flex;
  padding: 99px;
}
.section{
  margin-left: 129px;
}
h2{
  color: #3A3A3A;
  font-size: 52px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.para{
color: #3A3A3A;
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.preebook{
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 41px;
  background: #E02C6D;
}

span{
  color: #FFF;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.image{
  margin-left:39px;
}
.image img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: url(<path-to-image>), rgb(239, 236, 236) -256.697px -123px / 220.317% 154.831% no-repeat;
}


/* !-- Ecomerce  section start --> */
.commerce .media {
  display: flex;
  justify-content: center;
  gap: 3rem;
}








/* ----Popular Collection style */

.section_tittle{
color: #3A3A3A;
font-size: 28px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 70px;
text-align: center;
}
.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}


.course {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); 
  box-sizing: border-box;
  
}



.course .course_banner img{
  width: 410px;
 height: 380px;
 border-radius: 5px;
 padding: 15px  15px 15px;
 /* margin:15px; */
 /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */

}

.course_tittle{
  color: var(--text-gray-900, #18191F);
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-left: 12px;
}
.course_author{
  color: #ED6B4F;
  font-size: 14.691px;
  font-family: Poppins;
  margin-left: 12px;
}
.course_info{
  display: flex;
  gap:1px
}
.course_info i.fa-star {
  margin-right: 0.4px; 
}
.fa-star.filled{
  color: #FFC014;
  width: 11.068px;
 height: 10.316px;

}
.fa-star.empty{
  color: #AEAEAE;

}

.hour_rate{
  color: #5E6366;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}
 p{
  color: var(--gray-50, #787885);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  margin-left: 12px;
}

