h2{
  text-align: center;
}
img{
  height: 100%;
  width: 100%;
}
.row{
  
  margin-bottom: 5px;
}
.second-row, .third_row{
  display: flex;
  gap: 5px;
}
.second-row >div{
  flex: 1;
}
.second-row-third-container{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.second-row-third-container div{
  height: 200px;
}
.third_row_second_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
.third_row >div{
  flex: 1;
}
@media screen and (max-width:576px) {
  .second-row, .third_row{
     flex-direction: column;
  }
  .third_row_second_container{
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (min-width:577px) {
  .row{
    height: 400px;
  }
  
}